.products {
	margin: 2rem auto;
	display: grid;
	gap: 2rem;
	width: 100%;
}

@media screen and (min-width: 380px) {
	.products {
		width: 70%;
	}
}

@media screen and (min-width: 500px) {
	.products {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		place-content: center;
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}
}

@media screen and (min-width: 940px) {
	.products {
		gap: 2rem;
	}
}

@media screen and (min-width: 1340px) {
	.products {
		grid-template-columns: repeat(4, 1fr);
	}
}
