.main {
	text-align: center;
	height: 19.75rem;
	position: relative;
	overflow: hidden;
	display: grid;
	place-content: center;
}

.main::before {
	content: "";
	display: block;
	background-image: url("/images/secondaryHeaderBg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	inset: 0;
	z-index: -1;
	filter: blur(4px);
}

.main h1 {
	font-size: 3rem;
	font-weight: var(--fw-medium);
	color: #000;
	margin-bottom: 0.2rem;
}

.main p {
	font-size: 1rem;
	color: #000;
	display: flex;
	justify-content: center;
}

.main p span {
	font-weight: var(--fw-medium);
}

.arrow {
	display: grid;
	place-content: center;
	margin: 0 2px;
}

.arrow svg {
	width: 20px;
	height: 20px;
}
