.header {
	background-color: #f9f1e7;
	padding: 2rem 0;
}
.header .navigation {
	display: flex;
	align-items: center;
}
.header .navigation a {
	color: #9f9f9f;
}

.arrow {
	display: grid;
	color: #000;
	place-content: center;
	margin: 0 1rem;
}

.arrow:nth-of-type(2) {
	margin-right: 0;
}

.arrow svg {
	width: 20px;
	height: 20px;
}

.verticalLine {
	height: 2rem;
	width: 2px;
	background-color: #9f9f9f;
	margin: 0 2rem 0 2rem;
}

.productName {
	color: #000;
}

.productSection {
	margin-top: 2rem;
	margin-bottom: 4.125rem;
}

.productInformation h2 {
	font-size: 2.625rem;
	font-weight: var(--fw-normal);
	margin-top: 1.5rem;
}

.price {
	font-size: 1.5rem;
	font-weight: var(--fw-medium);
	margin-bottom: 0.625rem;
}

.actualPrice {
	color: #9f9f9f;
	margin-left: 0.6rem;
	font-size: 1.3rem;
	font-weight: var(--fw-normal);
}

.feedback {
	display: flex;
	gap: 2rem;
	margin-bottom: 1.1rem;
}

.feedback > p:nth-child(2) {
	font-size: 0.8125rem;
	color: #9f9f9f;
	position: relative;
	padding-left: 2rem;
	border-left: 2px solid #9f9f9f;
}

.sizeContainer {
	margin-top: 1.5rem;
	margin-bottom: 1.1rem;
}

.sizeContainer h3,
.colorContainer h3 {
	font-size: 0.875rem;
	font-weight: var(--fw-normal);
	color: #9f9f9f;
	margin-bottom: 0.92rem;
}

.sizeContainer button {
	text-transform: uppercase;
	height: 1.875rem;
	width: 1.875rem;
	font-size: 0.8125rem;
	cursor: pointer;
	background-color: #f9f1e7;
	border: transparent;
	border-radius: 5px;
	margin-right: 1rem;
}

.sizeContainer button.selected {
	background-color: var(--clr-brand-primary);
	color: #ffffff;
}

.colorContainer {
	margin-bottom: 2rem;
}

.colorContainer button {
	border-radius: 50%;
	height: 1.875rem;
	width: 1.875rem;
	margin-right: 1rem;
	border: transparent;
	cursor: pointer;
	opacity: 0.5;
}

.colorContainer button.selected {
	opacity: 1;
	outline: 2px solid var(--clr-brand-primary);
	outline-offset: 2px;
	/* box-shadow: 0 0 0 1px inset var(--clr-brand-primary), 0 0 0 2px inset white; */
}

.actionButtons {
	margin-bottom: 2rem;
}

.actionButtons > * {
	border: 1px solid black;
	text-transform: capitalize;
	background-color: transparent;
	border-radius: 1rem;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}

.actionButtons button {
	cursor: pointer;
}

.quantity {
	display: inline-block;
	min-width: 2rem;
	text-align: center;
}

.decrementBtn,
.incrementBtn {
	position: absolute;
	background-color: transparent;
	border: none;
	font: inherit;
	top: 0;
	bottom: 0;
	padding: 0 0.5rem;
}

.decrementBtn {
	left: 0;
}

.incrementBtn {
	right: 0;
}

.horizontalLine {
	height: 1px;
	border: 0;
	background-color: #d9d9d9;
	margin-bottom: 2rem;
}

.productTable td {
	color: #9f9f9f;
	height: 2rem;
	text-transform: capitalize;
}

.productTable td:nth-child(2) {
	padding-left: 2rem;
	padding-right: 0.5rem;
}

.productTable .socialIcons svg {
	color: black;
	height: 100%;
	width: 1.25rem;
	margin-right: 0.8rem;
	vertical-align: middle;
}

.productDetails {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.productDetails > div {
	padding: 2rem 0;
}

.headings {
	margin-bottom: 2.25rem;
}

.headings h2 {
	color: #9f9f9f;
	font-size: 1.5rem;
	font-weight: var(--fw-normal);
	line-height: 1.5;
	cursor: pointer;
	margin-bottom: 0.7rem;
}

.headings .activeHeading {
	color: #000;
	font-weight: var(--fw-medium);
}

.productDetails .description p {
	color: #9f9f9f;
	margin-bottom: 2.125rem;
}

.productDetails .description + div {
	display: flex;
	gap: 2rem;
	flex-direction: column;
}
.productDetails .description + div > * {
	object-fit: cover;
	border-radius: 10px;
}

.relatedProducts {
	margin: 2rem 0;
}

@media screen and (min-width: 600px) {
	.productContainer {
		display: flex;
		justify-content: space-between;
		gap: max(4%, 1rem);
	}

	.productContainer > div {
		width: 50%;
	}

	.productImage {
		position: relative;
	}

	.productInformation h2 {
		margin-top: 0;
	}

	.actionButtons {
		margin-bottom: 3.75rem;
	}

	.actionButtons > * {
		padding: 0.6rem 2rem;
		font-size: 1.125rem;
	}

	.horizontalLine {
		margin-bottom: 2.56rem;
	}

	.productDetails > div {
		padding: 3rem 0;
	}

	.headings {
		display: flex;
		justify-content: center;
		gap: 3.125rem;
		text-align: center;
	}

	.headings h2 {
		margin-bottom: 0;
	}
	.relatedProducts {
		margin: 4.625rem 0 3.625rem 0;
	}
}

@media screen and (min-width: 650px) {
	.productInformation .description {
		font-size: 0.9125rem;
	}

	.productDetails .description + div {
		flex-direction: row;
		justify-content: space-between;
	}

	.productDetails .description + div > * {
		width: 48%;
	}
}

@media screen and (min-width: 900px) {
	.productInformation .description {
		width: 70%;
	}

	.actionButtons > * {
		padding: 1rem 2rem;
		font-size: 1.25rem;
		margin-right: 1.25rem;
		margin-bottom: 1.25rem;
	}
}
