.cartSection {
	display: flex;
	margin-top: 4.5rem;
	gap: 1.875rem;
	justify-content: space-between;
}

.emptyCart {
	text-align: center;
	padding-top: 3rem;
}

.cartContainer {
	width: 100%;
}

.titles {
	background-color: #f9f1e7;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr) 0.5fr;
	place-items: center;
	min-width: 21rem;
}

.title {
	font-weight: var(--fw-medium);
	font-size: 1rem;
}

.clearBtn {
	padding: 0.7rem 2rem;
	border: none;
	background: var(--clr-brand-primary);
	color: #fff;
	font-size: 0.8rem;
	letter-spacing: 1px;
	border-radius: 10px;
	margin-top: 2rem;
	cursor: pointer;
}

.priceContainer {
	width: 40%;
	background-color: #f9f1e7;
}

.priceContainer > div {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: 0 auto;
}

.heading {
	font-size: 2rem;
	font-weight: var(--fw-semi-bold);
	margin-top: 1rem;
	margin-bottom: 2.8rem;
	text-align: center;
}

.subheadingContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.subheadingContainer h4 {
	font-weight: var(--fw-medium);
}

.totalPrice {
	font-size: 1.25rem;
	font-weight: var(--fw-medium);
	color: var(--clr-brand-primary);
}

.checkout {
	border: 1px solid black;
	color: #000;
	font-size: 1.25rem;
	border-radius: 1rem;
	padding: 0.9rem 0;
	text-align: center;
	width: 80%;
	display: block;
	margin: 3rem auto;
}

@media (width < 1240px) {
	.cartSection {
		flex-direction: column;
		gap: 5rem;
	}
	.cartContainer {
		width: 100%;
	}
	.priceContainer {
		width: 50%;
	}
}

@media (width < 600px) {
	.priceContainer {
		width: 100%;
	}
	.checkout {
		width: 40%;
	}
	.hide:not(.hide.lightText) {
		display: none;
	}
	.titles {
		grid-template-columns: repeat(3, 1fr) minmax(1.5rem, 0.3fr);
	}
}
