@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

html,
body,
#root {
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}
