@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--header-height: 100px;

	/* Font weight */
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* Colors */
	--clr-brand-primary: #b98f32;
	--clr-brand-primary-active: #9e792a;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

html,
body,
#root {
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
}

#root {
	overflow: auto;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

.mainContainer {
	width: 82%;
	max-width: 1240px;
	margin: 0 auto;
}

@media screen and (max-width: 1048px) {
	.mainContainer {
		width: 92%;
	}
}

@media screen and (max-width: 694px) {
	html {
		font-size: 13px;
	}
}
